# A very nice comment
STRING_VALUE    = hello world
INT_VALUE       = 123
INT_STR_VALUE   = "123"
NONE_VALUE      = none
FLOAT_VALUE     = 123.456
BOOL_VALUE      = true
VAR_VALUE       = ${STRING_VALUE} & ${INT_VALUE}
COMMENT_VALUE   = nice  # Very nice comment indeed
MULTILINE_VALUE = "This is a multiline
value that spans multiple lines."
